---
import { Image } from 'astro:assets';
import logo from '../layouts/superplane-logo.svg';
import PaperBackground from '../components/PaperBackground.jsx';
import ComingSoonMarquee from '../components/ComingSoonMarquee.jsx';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SuperPlane</title>
  </head>
  <body class="m-0 p-0 bg-gray-900 flex flex-col items-center justify-center min-h-screen font-sans">
    <PaperBackground client:load />
    <ComingSoonMarquee client:load />
    <div class="text-center max-w-lg p-8">
      <Image
        src={logo}
        alt="SuperPlane Logo"
        class="w-full max-w-sm h-auto mb-8 invert"
      />
    </div>
  </body>
</html>

